body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
div{
    display: flex;
    gap: 70px;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
img.active{
    transform: scale(1.5);
    opacity: 1;
    z-index: 10;
}